.ventes-container {
  display: flex;
  flex-direction: column;
  height: 750px;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  margin-top: 50px;
  border-radius: 20px;
  background-color: rgba(247, 247, 247, 0.5);
  overflow: hidden; 
}

.ventes-header {
  flex: 0 0 80px; /* hauteur fixe de 80px */
  display: flex;
  border-radius: 20px 20px 0px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: #f2f2f2;
  border-bottom: 2px #ccc;
  margin-bottom: 0px;
  overflow: hidden; /* empêche le contenu de faire grandir */
}

.table-wrapper {
  flex: 1 1 auto; /* prend tout le reste */
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
}


.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table thead {
  background-color: #f0f0f0;
  position: sticky;
  top: 0;
}

.styled-table th,
.styled-table td {
  padding: 12px 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
}

.styled-table tr:hover {
  background-color: #f9f9f9;
}
  
/*
Les styles des boutons actions 
*/

.table-actions {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.modern-button {
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, transform 0.1s ease;
  color: white;
}

/* Vue (Eye) : bleu moderne */
.view-btn {
  background-color: #2563eb; /* Blue-600 */
}

.view-btn:hover {
  background-color: #1d4ed8; /* Blue-700 */
  transform: translateY(-1px);
}

/* Impression (Printer) : gris foncé neutre */
.print-btn {
  background-color: #506079; /* Gray-700 */
}

.print-btn:hover {
  background-color: #354965; /* Gray-800 */
  transform: translateY(-1px);
}

/*
  Style Pour les boutons Crud
*/
.button-group {
  display: flex;
  gap: 10px;
}

/*
  Code pour la fenêtre flottante 
*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* fond assombri */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 50px;
  max-width: 600px;
  width: 90%;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/*
 Bouton Pour fermer une fenêtre flottante 
*/
.close-btn {
  height: 50px;
  position: absolute;
  border-radius: 50%;
  top: 10px;
  right: 15px;
  background:white;
  color: balck;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

@media print {
  body * {
    visibility: hidden;
  }

  .print-container,
  .print-container * {
    visibility: visible;
  }

  .print-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
